DB_HOST=localhost
DB_PORT=5432
DB_NAME=Web_MMM
DB_USER=postgres
DB_PASSWORD=postgres

DND_BASE_URL=https://dnd.su
DND_SOURCE_CODE=PH14
DND_SOURCE_NAME=Player's Handbook 2014
REQUEST_DELAY=0.35

# Полное сканирование заклинаний PH/PH14
DND_SPELL_WORKERS=8
DND_USE_SPELL_CACHE=1
